# clearml==1.6.3  # if you want to use clearml
jax[cpu]==0.3.15
matplotlib==3.5.2
Pillow==9.2.0
rich==12.5.1
--extra-index-url=https://gitlab.com/api/v4/projects/26449469/packages/pypi/simple
rr_ml_config==1.9.1
scikit_image==0.19.3
torch==1.12.0
# wandb==0.12.21  # if you want to use wandb
